# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version


# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.local
.env.prod

# Database (keep the directory but ignore the actual db file)
db/*.db
db/*.sqlite3

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Pipenv
Pipfile.lock
